APP_NAME='Koperasi Hub'
APP_ENV=local
APP_KEY=base64:uflOBDcb8rMZ0/ypoO6jOP9vPHPMxhInJ5NOcXC9smA=
APP_DEBUG=true
APP_URL=https://c0c3-149-108-195-2.ngrok-free.app
FRONTEND_URL=http://localhost:3000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=wa_api
DB_USERNAME=postgres
DB_PASSWORD=engsap12345


BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=shalltears666@gmail.com
MAIL_PASSWORD="xxuefmtwzlliwihr"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="shalltears666@gmail.com"
MAIL_FROM_NAME="Ubud motor"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# Ini milik 1msgio tidak digunakan saat ini  
TOKEN_WA='link_Gdy9VT6nlr4iTzFHLd9wc3ihuTS6lPIQ'
CHANNEL_WA='https://sandbox.1msg.io/FRO948034957/'
TEST_PHONE='6287762582176'


SEEBOT_URL='https://seebotwa.com/api/create-message'
SEEBOT_API_KEY='AvNVIh0rbVn6eP1tHwcVbac493LYtgdcretF005Ye8odth68PN'


IPAYMU_VA="0000007762582176"
IPAYMU_APIKEY="SANDBOXFE457A00-3549-4B11-9BEF-D1844B8B0FCE"